<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>导航栏</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
<div class="header">
    <ul class="header_ul">
        <li class="header_ul_home">HOME
            <ul class="header_ul_ul">
                <li>HOME1</li>
                <li>HOME2</li>
                <li>HOME3</li>
            </ul>
        </li>

        <li class="header_ul_pages">PAGES
            <ul class="header_ul_ul">
                <li>PAGES1</li>
                <li>PAGES2</li>
                <li>PAGES3</li>
            </ul>
        </li>
        <li class="header_ul_portfollo">PORTFOLIO
            <ul class="header_ul_ul">
                <li>PORTFOLIO1</li>
                <li>PORTFOLIO2</li>
                <li>PORTFOLIO3</li>
            </ul>
        </li>
        <li class="header_ul_blog">BLOG
            <ul class="header_ul_ul">
                <li>BLOG1</li>
                <li>BLOG2</li>
                <li>BLOG3</li>
            </ul>
        </li>
    </ul>
</div>
</body>

</html>
